html {
    font-size: 62.5%;
}

/*Call to Action*/

.call-to-action {
    background-color: #49beaa;
    text-align: center;
    padding: 5px;
    color: white;
    font-family: arial, sans-serif;
    font-size: 1.2rem;
    text-transform: uppercase;
}

/*Nav*/

.nav {
    background: #456990;
    width: auto;
    margin: 0;
    display: flex;
    flex-direction: column;
}

nav ul {
    flex-direction: column;
    list-style-type: none;
    display: none;
    margin: 0;
    background: #456990;
}

@media only screen and (min-width: 768px) {
    nav ul {
        display: flex;
        flex-direction: row;
    }

    nav .toggle {
        display: none;
    }
}

nav ul li a {
    color: white;
    font-size: 1.6rem;
    text-transform: uppercase;
    padding: 10px;
    text-decoration: none;
}

.show-items {
    display: flex;
}

nav .toggle {
    align-self: flex-end;
    position: absolute;
    cursor: pointer;
    background: #456990;
}

.hero {
    background-image: url(images/crowd.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

.hero h1 {
    font-family: Calistoga, serif;
    font-weight: 400px;
    font-size: 4.8rem;
    text-align: center;
    line-height: 200px;
    color: white;
    bottom: 0;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; /*Box Shadow came from CSS Scan*/
    padding: 20px;
}

/*Links section*/
 .links {
    display: flex;
    flex-direction: column;
 }

 .links a {
    color: white;
    font-family: Calistoga, serif;
    font-size: 1.6rem;
    text-align: center;
    text-decoration: none;
 }

 .festival-info {
    width: 200px;
    height: 200px;
    margin: 20px;
    padding: 20px;
    background-image: url(images/performers-2.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
 }

 .performers {
    width: 200px;
    height: 200px;
    margin: 20px;
    padding: 20px;
    background-image: url(images/performers.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
 }

 .tickets {
    width: 200px;
    height: 200px;
    margin: 20px;
    padding: 20px;
    background-image: url(images/get-involved.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
 }

 .camping {
    width: 200px;
    height: 200px;
    margin: 20px;
    padding: 20px;
    background-image: url(images/camping.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
 }

 @media only screen and (min-width: 768px) {
    .links {
        display: flex;
        flex-direction: row;
    }
    }

    /*Land Acknowledgement*/

.land-acknowledgement {
    background-color: #456990;
}

.land-acknowledgement p {
    color: white;
    font-family: arial, sans-serif;
    font-size: 1.6rem;
    text-align: center;
    padding: 20px;
}

/*Sponsors*/

.sponsors {
    background-color: #49beaa;
    text-align: center;
    color: white;
    font-size: 1.6rem;
    font-family: Calistoga, serif;
}

/*Footer*/

.footer {
    background-color: #A2BCC2;
    display: flex;
    flex-direction: row;
}

footer ul {
    display: inline-block;
    flex-direction: column;
    list-style-type: none;
}

.footer ul li a {
    background-color: #A2BCC2;
    color: white;
    font-size: 1.6rem;
    text-transform: uppercase;
    padding: 10px;
    text-decoration: none;
}