html {
    font-size: 62.5%;
}

/*Call to Action*/

.call-to-action {
    background-color: #49beaa;
    text-align: center;
    padding: 5px;
    color: white;
    font-family: arial, sans-serif;
    font-size: 1.2rem;
    text-transform: uppercase;
    position: fixed;
    top: 0;
    width: 100%;
}

/*Nav*/

.logo {
    padding: 50px 10px;
    float: left;
}
nav {
    width: auto;
    margin: 0;
    display: flex;
    flex-direction: column;
    padding: 60px 10px;
}

nav ul {
    flex-direction: column;
    list-style-type: none;
    display: none;
    margin: 0;
    background: #456990;
}

@media only screen and (min-width: 768px) {
    nav {
        background: #456990;
    }
    
    nav ul {
        display: flex;
        flex-direction: row;
    }

    nav .toggle {
        display: none;
    }
}

nav ul li a {
    color: white;
    font-size: 1.6rem;
    text-transform: uppercase;
    padding: 15px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: navy;
}

.show-items {
    display: flex;
}

nav .toggle {
    align-self: flex-end;
    position: absolute;
    cursor: pointer;
    width: 100px;
}

/*Hero*/

.hero {
    clear: left;
    overflow: hidden;
    position: relative;
}

.hero img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}

.background-overlay {
    width: 100%;
    position: absolute;
    background-color: rgba(69, 105, 144, .5);
    opacity: 0.7;
}

.hero h1 {
    position: relative;
    font-family: Calistoga, serif;
    font-weight: 400px;
    font-size: 4.8rem;
    text-align: center;
    color: white;
    text-shadow: 3px 3px 3px black;
    padding: 20px;
    top: 0;
}

.hero h2 {
    position: relative;
    font-family: Calistoga, serif;
    font-weight: 400px;
    font-size: 3.6rem;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px black;
    top: 1;
}

/*Links section*/
 .links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

 .links a {
    color: white;
    font-family: Calistoga, serif;
    font-size: 2.4rem;
    text-align: center;
    text-decoration: none;
    line-height: 200px;
    text-shadow: 2px 2px 2px black;
    display: flex;
    justify-content: center;
 }

 .festival-info {
    width: 200px;
    height: 200px;
    margin: 20px;
    padding: 20px;
    background-image: url(images/performers-2.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
 }

 .performers {
    width: 200px;
    height: 200px;
    margin: 20px;
    padding: 20px;
    background-image: url(images/performers.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
 }

 .tickets {
    width: 200px;
    height: 200px;
    margin: 20px;
    padding: 20px;
    background-image: url(images/get-involved.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
 }

 .camping {
    width: 200px;
    height: 200px;
    margin: 20px;
    padding: 20px;
    background-image: url(images/camping.jpg); /*This photo came from the Comox Valley Record*/
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
 }

 @media only screen and (min-width: 768px) {
    .links {
        display: flex;
        flex-direction: row;
    }
    }

    /*Land Acknowledgement*/

.land-acknowledgement {
    background-color: #456990;
}

.land-acknowledgement p {
    color: white;
    font-family: arial, sans-serif;
    font-size: 1.6rem;
    text-align: center;
    padding: 20px;
}

/*Sponsors*/

.sponsors {
    background-color: #49beaa;
    text-align: center;
    color: white;
    font-size: 1.6rem;
    font-family: Calistoga, serif;
}

/*Footer*/

.footer {
    background-color: #A2BCC2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

footer ul {
    display: inline-block;
    flex-direction: column;
    list-style-type: none;
}

.footer ul li a {
    background-color: #A2BCC2;
    color: white;
    font-size: 1.6rem;
    text-transform: uppercase;
    padding: 10px;
    text-decoration: none;
}

/*About Page*/
.about {
    width: 100%;
}

.about img {
    padding: 20px 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.about h2 {
    font-family: Calistoga, serif;
    font-size: 2.4rem;
    text-align: center;
    padding: 20px 10px;
    color: #456990;
}

.about h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    text-align: center;
    padding: 10px 20px;
    font-weight: bold;
}

.about p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    padding: 10px 20px;
}

.button {
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.button a {
  background-color: #456990;
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.6rem;
  text-align: center;
  border-radius: 4px;
}

.wrapper {
    background-color: rgba(69, 105, 144, .3);
    padding: 10px;
}

@media only screen and (min-width: 768px) {
   .about img {
    float: left;
   }

   .wrapper {
    clear: left;
   }

   .wrapper img {
    float: right;
   }

   footer {
    clear: left;
   }
}

/*Slideshow code comes from educative.io*/

.sponsors {
    box-sizing: border-box
}

.image-slideshow {
  max-width: 500px;
  position: relative;
  margin: auto;
}
.sponsors img {
  width: 100%
}
.fade {
  animation-name: fade;
  animation-duration: 2s;
}
@keyframes fade {
  from {opacity: .5}
  to {opacity: 1}
}